PORT=3000

# Локальная MongoDB без аутентификации (после brew install mongodb-community)
MONGO_URI=mongodb://127.0.0.1:27017/practica20

# Пример с аутентификацией:
# MONGO_URI=mongodb://YourMongoAdmin:1234@127.0.0.1:27017/practica20?authSource=admin
